<div>
  <h1>Liste Des Formateurs</h1>
  <table class="list-formateurs-table">
    <thead>
      <th>ID</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Adresse</th>
      <th>Email</th>
      <th>Domaine</th>
      <th colspan="2">Actions</th>
    </thead>
    <tr *ngFor="let formateur of formateursItems">
      <td>{{ formateur.id }}</td>
      <td>{{ formateur.nom }}</td>
      <td>{{ formateur.prenom }}</td>
      <td>{{ formateur.adresse }}</td>
      <td>{{ formateur.email }}</td>
      <td>{{ formateur.domaine }}</td>
      <td>
        <a [routerLink]="['../edit', formateur.id]"
          ><img src="assets/modifier.png"
        /></a>
      </td>
      <td>
        <a (click)="onDelete(formateur)"><img src="assets/supprimer.png" /></a>
      </td>
    </tr>
  </table>
</div>
