<div class="container">
  <div class="upper-part">
    <div class="info-box bg-orange">
      <img class="info-box-img" src="assets/sessions.png" />
      <span class="info-box-data">
        <p>5</p>
        <p>Sessions</p>
      </span>
    </div>
    <div class="info-box bg-green">
      <img class="info-box-img" src="assets/participants.png" />
      <span class="info-box-data">
        <p>5</p>
        <p>Participants</p>
      </span>
    </div>
    <div class="info-box bg-purple">
      <img class="info-box-img" src="assets/formateurs.png" />
      <span class="info-box-data">
        <p>5</p>
        <p>Formateurs</p>
      </span>
    </div>
  </div>
  <div class="lower-part"></div>
</div>
