* {
  color: white;
}
.header {
  background-color: #002060;
  display: flex;
  height: 10%;
  padding: 0.5em;
  min-width: 100%;
  justify-content: space-between;
}

.logo-text {
  font-weight: bold;
  font-size: 1.2em;
}

.header-logo {
  width: 15em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 25%;
}
.quit-button {
  width: 25%;
}

.content {
  display: flex;
  height: 90%;
}

.header-quit {
  display: flex;
  width: 10em;
  align-items: center;
  justify-content: space-evenly;
}

.side-nav {
  background-color: #002060;
  width: 20%;
  padding: 0.5em;
}

.main-content {
  background-color: white;
  width: 80%;
}

.nav-img {
  width: 3.5em;
}

.nav-link {
  font-size: 1.2em;
  font-weight: bold;
  padding: 1em;
}

.nav-item {
  display: flex;
  align-items: center;
  border-bottom: solid 1px grey;
  padding: 0.3em;
}

.chercher-session {
  display: flex;
  align-items: center;
  padding: 0.3em;
  margin-bottom: 2em;
}
.chercher-input {
  margin: 1em;
  padding: 0.5em;
}
