<div class="header">
  <div class="header-logo">
    <img class="logo" src="assets/webinar.jpg" />
    <span class="logo-text">Espace Admin</span>
  </div>

  <div class="header-quit">
    <span class="logo-text">Date : {{ date }}</span
    ><a routerLink="../">
      <img class="quit-button" src="assets/shut-down.svg"
    /></a>
  </div>
</div>
<div class="content">
  <div class="side-nav">
    <div class="chercher-session">
      <img class="nav-img" src="assets/chercher.png" />
      <input
        class="chercher-input"
        placeholder="Chercher une session"
        type="text"
      />
    </div>
    <nav>
      <div class="nav-item">
        <img class="nav-img" src="assets/dashboard.png" />
        <a class="nav-link" routerLink="./dashboard">Dashboard</a>
      </div>
      <div class="nav-item">
        <img class="nav-img" src="assets/sessions.png" />
        <a class="nav-link" routerLink="./sessions">Sessions</a>
      </div>
      <div class="nav-item">
        <img class="nav-img" src="assets/formateurs.png" />
        <a routerLink="./formateurs" class="nav-link">Formateurs</a>
      </div>
      <div class="nav-item">
        <img class="nav-img" src="assets/participants.png" />
        <a routerLink="./participants" class="nav-link">Participants</a>
      </div>
    </nav>
  </div>
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</div>
